@font-face {
  font-family: 'icomoon';
  src:  url('../plugins/icomoon/fonts/icomoon.eot?syej1s');
  src:  url('../plugins/icomoon/fonts/icomoon.eot?syej1s#iefix') format('embedded-opentype'),
    url('../plugins/icomoon/fonts/icomoon.ttf?syej1s') format('truetype'),
    url('../plugins/icomoon/fonts/icomoon.woff?syej1s') format('woff'),
    url('../plugins/icomoon/fonts/icomoon.svg?syej1s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-tisores:before {
  content: "\e904";
}
.icon-geolocation-icon:before {
  content: "\e900";
}
.icon-mouse-click:before {
  content: "\e901";
}
.icon-pag_number_icon:before {
  content: "\e902";
}
.icon-pin-icon:before {
  content: "\e903";
}
.icon-logo:before {
  content: "\e606";
}

